/* NOTES
 * Styling in webcomponents is tricky - to style something in the shadow-root i.e. built by "rensder"
 * style the outside as e.g. class: "outer mqtt-xxx" and stylesheet has .mqtt-xxx .outer
 * style children intended to be shown via a slot as e.g class: foo and styhlesheet has mqtt-xxx .foo
 * the slotted children don't see the html they are inside, and the shadow root doesnt know its inside a <mqtt-xxx>
 */
/* Multiple places */
.outer {background-color: white;margin:5px; padding:5px;}
/* In MqttClient */
details.mqtt-client {margin-left: 1em; margin-right: 1em; float: right;}
/* In MqttProject */
.mqtt-project { margin: 0.2em;}
/* In MqttNode */
.mqtt-node {
    { border: 1px,black,solid;  margin: 0.2em; }
    .name,.description,.nodeid,.projectname { margin-left: 1em; margin-right: 1em; }
    .lastseen {margin-left: 1em; margin-right: 1em; float: right;}
    @media (min-width:601px){
        .name,.description,.nodeid,.projectname, .lastseen {font-size: xx-large;}
    }
}
div.offline {background-color: #888888;} /* Not INSIDE mqtt-node, it is the mqtt-node */
/* In MqttBar */
.bar {border: 1px,black,solid; background-color: white;margin: 0px;}
.left {display:inline-block; text-align: right;}
.right {background-color:white; display:inline-block;}
.val {margin:5px;}
.icon {height:12px;width:12px;float:right;border: 1px,black,solid;}
.batteryimg {height:17px;width:34px;float:right;}

/* In MqttSlider */
.mqtt-slider .pointbar {margin:0px; padding 0px;}
.mqtt-slider .val {margin:5px;}
.mqtt-slider .setpoint {position: relative;top: -5px;cursor: pointer;width: max-content;height: max-content;}

/* In MqttDropdown */
.mqtt-dropdown .outer { border: 0px,black,solid;  margin: 0.2em; }

/* In MqttGraph */
.leftright{display:flex; align-items:center;}
.graphnavleft{}
.right{{}}
/* In MqttWrapper */
/*Not useful: .mqtt-wrapper {border: 1px,black,solid;  margin: 0.2em; } */
mqtt-wrapper {
    .dropdown { margin-top: 5px;}
    select { margin-left: 2em;}
    @media (min-width:601px){
        .dropdown {font-size: xxx-large;}
        select { font-size: xx-large;}
    }
}
