/* Currently empty - placeholder */
/* Multiple places */
.outer {background-color: white;margin:5px; padding:5px;}
/* In MqttClient */
details.mqtt-client {margin-left: 1em; margin-right: 1em; float: right;}
/* In MqttNode */
.mqtt-node .outer { border: 1px,black,solid;  margin: 0.2em; }
.mqtt-node .name,.mqtt-node .description,.mqtt-node .nodeid { margin-left: 1em; margin-right: 1em; }
.mqtt-node .lastseen {margin-left: 1em; margin-right: 1em; float: right;}
div.offline {background-color: #888888;}
/* In MqttBar */
.bar {border: 1px,black,solid; background-color: white;margin: 0px;}
.left {display:inline-block; text-align: right;}
.right {background-color:white; display:inline-block;}
.val {margin:5px;}
.icon {height:12px;width:12px;float:right;border: 1px,black,solid;}
.batteryimg {height:17px;width:34px;float:right;}
/* In MqttGraph */
.leftright{display:flex; align-items:center;}
.graphnavleft{}
.right{{}}
/* In MqttWrapper */
.wrapper {border: 1px,black,solid;  margin: 0.2em; }
