/* NOTES
 * Styling in webcomponents is tricky - to style something in the shadow-root i.e. built by "rensder"
 * style the outside as e.g. class: "outer mqtt-xxx" and stylesheet has .mqtt-xxx .outer
 * style children intended to be shown via a slot as e.g class: foo and styhlesheet has mqtt-xxx .foo
 * the slotted children don't see the html they are inside, and the shadow root doesnt know its inside a <mqtt-xxx>
 */
/* Multiple places */
.outer {background-color: white;margin:5px; padding:5px;}
.icon { /* mqtt-toggle , mqtt-bar (graph) */
    height:1em;width:1em;float:right;
    @media (max-width:1001px){
        height:1.5em;width:1.5em;
    }
}
/* In MqttClient */
details.mqtt-client {
    margin-left: 1em; margin-right: 1em; float: right;
    @media screen and (max-width: 1001px ) {
        font-size: xx-large;
    }
}
/* In MqttProject */
.mqtt-project { margin: 0.2em;}
/* In MqttNode */
.mqtt-node {
    { border: 1px,black,solid;  margin: 0.2em; }
    .name,.description,.nodeid,.projectname { margin-left: 1em; margin-right: 1em; }
    .lastseen {margin-left: 1em; margin-right: 1em; float: right;}
    .batteryimg {height:17px;width:34px;float:right;}
    @media (max-width: 1001px ) {
        .name {
            font-size: xxx-large;
        }
        .description, .nodeid, .projectname, .lastseen {
            font-size: xx-large;
        }
    }
}
/* In the children of an mqtt-node */
mqtt-node {
    details.group { border: 1px,black,solid; margin:1px }
    @media (max-width:1001px){
        details {font-size: x-large;}
    }
}
div.offline {background-color: #888888;} /* Not INSIDE mqtt-node, it is the mqtt-node */
/* In MqttBar */
.mqtt-bar {
    .bar {border: 1px,black,solid; background-color: white;margin: 0px;}
    .left {display:inline-block; text-align: right;}
    .right {background-color:white; display:inline-block;}
    .val {margin:5px;}
    @media (max-width:1001px){
        .left, .right {height: 2em;}
        .val {font-size: xx-large;}
        label {font-size: x-large;}
    }
}
/* In MqttSlider */
.mqtt-slider .pointbar {margin:0px; padding 0px;}
.mqtt-slider .val {margin:5px;}
.mqtt-slider .setpoint {position: relative;top: -5px;cursor: pointer;width: max-content;height: max-content;}

/* In MqttDropdown */
.mqtt-dropdown {
    .outer { border: 0px,black,solid;  margin: 0.2em; }
    @media (max-width:1001px){
        .dropdown {font-size: x-large;}
        select { font-size: x-large;}
        label {font-size: x-large;}
    }
}

.mqtt-graph {
    .leftright{display:flex; align-items:center;}
    @media (max-width:1001px) {
        .graphnavleft, .graphnavright {font-size: xxx-large;}
    }
}

/* In MqttGraph */
/* In MqttWrapper */
/*Not useful: .mqtt-wrapper {border: 1px,black,solid;  margin: 0.2em; } */
mqtt-wrapper {
    .dropdown { margin-top: 5px;}
    select { margin-left: 2em;}
    @media screen and (max-width: 1001px ) {
        .dropdown {
            font-size: xxx-large;
        }
        select {
            font-size: xx-large;
        }
    }
}

/* Related to authentication */
.mqtt-login {
    .tab {border: 1px,black,solid; margin: 0.2em; }
    .active {background-color: #ffffff; font-weight: bolder;}
    .inactive {background-color: #888888; font-weight: lighter;}
}

/* Its weird, but at least on my iPhoneXS if I set it smaller than this it doesnt trigger in Safari */

/* Just for testing */
/*
mqtt-wrapper {

    @media screen and (max-width: 1001px ) {
        .dropdown {
            background-color: red
        }

        select {
            font-size: xx-large;
        }
    }
}
*/